{% extends "base.html" %}

<!-- Блок Заголовка -->
{% block title %}Мир книг (главная){% endblock %}

<!-- Блок Контента -->
{% block content %}
<h1>Главная страница</h1>

<!-- Базовая проверка на Аутентификацию пользователя -->
<!-- {{ user.is_authenticated }} - True/False вошли ли вы в аккаунт или нет -->
<!-- {{ user.get_username }} - Username вошедшего аккаунта -->
{% if user.is_authenticated %}
    {% if user.get_username == "admin" %}
    <p>Вы вошли как администратор.</p>
    {% else %}
    <p>Вы вошли как пользователь сайта.</p>
    {% endif %}
{% else %}
<p>Вы вошли как гость.</p>
{% endif %}

<p>Добро пожаловать в <em>Мир книг</em>, это очень простой
веб-сайт, написанный на Django. Разработан на Python
    в качестве учебного примера с использованием PyCharm.</p>
<h1>Динамический контент</h1>
<p>База данных Мир книг содержит следующее количество записей:</p>
<ul>
    <li><b>Количество книг: </b>{{ num_books }}</li>
    <li><b>Количество экземпляров книг: </b>{{ num_instances }}</li>
    <li><b>Количество экземпляров книг в заказе: </b>{{ num_instances_available }}</li>
    <li><b>Количество авторов книг: </b>{{ num_authors }}</li>
    <br>
    <li><i><b>Количество посещений: </b>{{ num_visits }}</i></li>
</ul>
{% endblock %}