{% extends "base.html" %}

<!-- Блок Заголовка -->
{% block title %}Мир книг (главная){% endblock %}

<!-- Блок Контента -->
{% block content %}
<h1>Главная страница</h1>
<p>Добро пожаловать в <em>Мир книг</em>, это очень простой
веб-сайт, написанный на Django. Разработан на Python
    в качестве учебного примера с использованием PyCharm.</p>
<h1>Динамический контент</h1>
<p>База данных Мир книг содержит следующее количество записей:</p>
<ul>
    <li><b>Количество книг: </b>{{ num_books }}</li>
    <li><b>Количество экземпляров книг: </b>{{ num_instances }}</li>
    <li><b>Количество экземпляров книг в заказе: </b>{{ num_instances_available }}</li>
    <li><b>Количество авторов книг: </b>{{ num_authors }}</li>
</ul>
{% endblock %}