{% extends "base.html" %}

<!-- Блок Заголовка -->
{% block title %}Мир книг (книги){% endblock %}

<!-- Блок Контента -->
{% block content %}
    <h1>Список книг в БД</h1>
    {% if book_list %}
        <ul>
            {% for book in book_list %}
            <li>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.genre }})
            </li>
            {% endfor %}
        </ul>
        <!-- Кнопки перехода между страницами -->
        <!-- request.path - текущий URl страницы -->
        <!-- page_obj.paginator.num_pages - Количество всех страниц -->
        <!-- page_obj.has_previous/has_next - Есть ли страница (True) -->
        <!-- page_obj.previous_page_number/next_page_number - Возвращают цифру предыдущей или следующей страницы соответственно -->
        <div class="btn-group" role="group" aria-label="Second group">
            {% if page_obj.has_previous %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="#">Предыдущая</a>
            {% endif %}
            <!-- Нумерация страниц-->
            <a class="btn btn-sm btn-outline-secondary" href="#">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a>
            {% if page_obj.has_next %}
                <a class="btn btn-sm btn-outline-secondary" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
            {% else %}
                <a class="btn btn-sm btn-outline-secondary" href="#">Следующая</a>
            {% endif %}
        </div>
        <!-- Конец. Кнопки перехода между страницами -->
    {% else %}
        <p>В базе данных нет книг!</p>
    {% endif %}
{% endblock %}